pipeline/DeltaOfSAPView.json
{
	"name": "DeltaOfSAPView",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select MAX(ERDAT) as createdate from WB2_V_VBAK_VBAP2",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SqlServerTable1",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "WB2_V_VBAK_VBAP2",
							"SchemaName": "dbo"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SapTableSource",
									"rfcTableOptions": {
										"value": "ERDAT GT '@{item().createdate}' or AEDAT GT  '@{item().createdate}'",
										"type": "Expression"
									},
									"customRfcReadTableFunctionModule": "",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SqlServerSink",
									"preCopyScript": "truncate table WB2_V_VBAK_VBAP2_STG",
									"tableOption": "autoCreate"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "HSSTable",
									"type": "DatasetReference",
									"parameters": {
										"TableName": "WB2_V_VBAK_VBAP2"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "SqlServerTable1",
									"type": "DatasetReference",
									"parameters": {
										"TableName": "WB2_V_VBAK_VBAP2_STG",
										"SchemaName": "dbo"
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2020-03-30T10:34:32Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}