pipeline/Dynamic Delta Load.json
{
	"name": "Dynamic Delta Load",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select * from TableMetadata where deltacolumn='Y'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SqlServerTable1",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "TableMetadata",
							"SchemaName": "dbo"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Get Max Date",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SapTableSource",
									"rfcTableOptions": {
										"value": "ERDAT GT '@{activity('Get Max Date').output.firstRow.CreatedDate}' or AEDAT GT '@{activity('Get Max Date').output.firstRow.CreatedDate}' ",
										"type": "Expression"
									},
									"customRfcReadTableFunctionModule": "",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SqlServerSink",
									"tableOption": "autoCreate"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "HSSTable",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@{item().tablename}",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "SqlServerTable1",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@{item().stgtable}",
											"type": "Expression"
										},
										"SchemaName": {
											"value": "@{item().schemaname}",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Get Max Date",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "select MAX(ERDAT) as CreatedDate,MAX(AEDAT) as Updatedate from @{item().tablename}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "SqlServerTable1",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@{item().tablename}",
											"type": "Expression"
										},
										"SchemaName": {
											"value": "@{item().schemaname}",
											"type": "Expression"
										}
									}
								}
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "Vishnu Dynamic"
		},
		"annotations": [],
		"lastPublishTime": "2020-04-17T13:12:42Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}