pipeline/pipeline2.json
{
	"name": "pipeline2",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select top 10 * from statusData where status='N'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureCelebalNew",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "statusData ",
							"SchemaName": "dbo"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Lookup2",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Copy data1_copy3",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "update statusData set status='S' where tablename='@{item().tablename}'\n\nselect 0;",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "AzureCelebalNew",
									"type": "DatasetReference",
									"parameters": {
										"TableName": "statusData",
										"SchemaName": "dbo"
									}
								}
							}
						},
						{
							"name": "Copy data1_copy3",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SqlServerSink",
									"tableOption": "autoCreate"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "AzureCelebalNew",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@item().tablename",
											"type": "Expression"
										},
										"SchemaName": "SAP_S4_IDES"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "SqlServerTable1",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@item().tablename",
											"type": "Expression"
										},
										"SchemaName": "SAPIDES"
									}
								}
							]
						},
						{
							"name": "Lookup3",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Copy data1_copy3",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "update statusData set status='E' where tablename='@{item().tablename}'\n\nselect 0;",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "AzureCelebalNew",
									"type": "DatasetReference",
									"parameters": {
										"TableName": "StatusData",
										"SchemaName": "dbo"
									}
								}
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2020-04-20T04:37:52Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}